body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    padding: 35px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #9966CC;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transition: .5s;
    background-color: #4B0082;
}

.voltar {
    margin-top: 15px;
    font-size: 14px;
}

.voltar a {
    color: #007bff;
    text-decoration: none;
}

.voltar a:hover {
    text-decoration: underline;
}
