<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <style>
        body {
            background-color:#B30000;
        }
        .miranha {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10rem;
        }
        img {
            width:30%;
            height:auto;
            border-radius: 10px;
        }
    </style>
</head>
    <body>

        <div class="miranha">
            <img src="{{ url_for('static',filename ='assets/miranha.png' )}}" alt="">
        </div>
    </body>
</html>